.DS_Store
backend/files/frontend/files/node_modules/
backend/files/frontend/files/dist/
backend/files/frontend/files/npm-debug.log*
backend/files/frontend/files/yarn-debug.log*
backend/files/frontend/files/yarn-error.log*
backend/files/frontend/files/src/assets/img/
backend/files/frontend/files/uploads

db/data/

backend/files/node_modules/
backend/files/uploads/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
