.DS_Store
frontend/files/node_modules/
frontend/files/dist/
frontend/files/npm-debug.log*
frontend/files/yarn-debug.log*
frontend/files/yarn-error.log*
frontend/files/src/assets/img/

db/data/

backend/files/node_modules/
backend/files/uploads/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
